.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    font-family: inherit;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #121212;
}

button:focus {
    background-color: #222;
}

button:disabled {
    opacity: 0.8;
    pointer-events: none;
}
